html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#App {
  font-family: -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
}

.background{
  background-image: url("bg-img.jpg");

  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px;
  margin-bottom: 20px;
  color: #d1d1d1;
  transition: color 0.2s;

}

.menu-logo{
   color: #ecffda;
   font-size: larger;
}

.bm-item:hover {
  color: #e5ffcd;
  background-color: #e5ffcd;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #d7aed8;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  opacity: 0.9;
}

.bm-morph-shape {
  fill: #373a47;
  background-color: #bdc3c7;
}

.bm-item-list {
  color: black;
  font-size: 1.3rem;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

 

/* CSS FOR Page.js */
.midSection{
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30vh;
}

.midSection h3{
  font-weight: 600;
  font-size: 3rem;
  color: black;
}

.midSection h5{
  padding: 20px 10px;
  font-weight: 300;
  font: 2.5rem;
  color: black;
}

.animationBar{
  width: 90vh;
}

.input-group{
  left: 10vw;    
}

.bx-search{
  font-size: 2rem;
  color: black;
}

#Search{
  position: relative;
  top: 3px;
  right: 9.8rem;
}

.searchBar{
  width: 65%;
  height: 60px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 10px 35px rgb(0 0 0 / 10%);
  padding: 1rem 1rem 1rem 2rem;
  outline: none;
  font-size: 1rem;
}