html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#App {
  font-family: -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
}


#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px;
  margin-bottom: 20px;
  color: #136b30;
  transition: color 0.2s;

}

.menu-logo{
   color: #65f758;
   font-size: larger;
}

.bm-item:hover {
  color: #92f5aa;
  background-color: #448344;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #427e51;
}

.bm-cross-button {
  
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #4d8f63;
}

.bm-menu {
  background: #fafafa;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  opacity: 0.9;
}

.bm-morph-shape {
  fill: #373a47;
  background-color: #bdc3c7;
}

.bm-item-list {
  color: rgb(95, 93, 93);
  font-size: 1.3rem;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

 

/* CSS FOR Page.js */
.midSection{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30vh;
}

.midSection h4{
  font-weight: 600;
  font-size: 2.5rem;
  color: black;
}

.midSection h5{
  padding: 20px 10px;
  font-weight: 300;
  font-size: 2rem;
  color: black;
}

.animationBar{
  width: 90vh;
}

.input-group{
  left: 10vw;    
}

.bx-search{
  font-size: 2rem;
  color: black;
}

#Search{
  position: relative;
  top: 3px;
  right: 9.8rem;
}

.searchBar{
  width: 65%;
  height: 60px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 10px 35px rgb(0 0 0 / 10%);
  padding: 1rem 1rem 1rem 2rem;
  outline: none;
  font-size: 1rem;
}

.search-row{
  max-width: 900px;
  background-color: antiquewhite;
  padding: 3px;
  margin: auto;
  margin-top: 8px;
}

.table { 
  margin-top: 15px;
  width: 95vw;

}
  
div[class*=box] {
  height: 50px;
  width: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-1 { background-color: transparent;
}
  
  .btn {
    line-height:35px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
  }
  .btn-one {
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    position: relative;

  }
  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #4CAF50;
    border-bottom-color: #4CAF50;
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 3px;
    background-color: #4CAF50;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
    
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }
  .godown{
      text-decoration: none;
      font-size: larger;
      font-weight: bold;
      color:black;
      position: absolute;
      top: 90vh;
      
  }
  #lowerSection{
    position: absolute;
    top:100vh;
    font-size: medium;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.para{
  padding: 5%;
  margin-bottom: 10%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width:60%;
}

