div[class*=box] {
  height: 50px;
  width: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-1 { background-color: transparent;
}
  
  .btn {
    line-height:35px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
  }
  .btn-one {
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    position: relative;

  }
  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #4CAF50;
    border-bottom-color: #4CAF50;
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 3px;
    background-color: #4CAF50;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
    
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }
  .godown{
      text-decoration: none;
      font-size: larger;
      font-weight: bold;
      color:black;
      position: absolute;
      top: 90vh;
      
  }
  #lowerSection{
    position: absolute;
    top:100vh;
    font-size: medium;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.para{
  padding: 5%;
  margin-bottom: 10%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width:60%;
}

